@import '@extension/ui/global.css';

html, body {
  margin: 0;
  padding: 0;
  width: 300px;
  height: auto;
  min-width: 300px;
}

#app-container {
  width: 100%;
  height: auto;
  overflow: visible;
}
